{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 bg-warning text-dark">
        <p><b>Already have an account? </b> <a href="{% url 'accounts:login' %}">Login Here!</a></p>
        <form action="" method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor %}
          <input type="submit" value="submit" class="btn btn-secondary">
        </form>
        <br>
      </div>
    </div>
  </div>

{% endblock %}
